.user-details {
    color: #001529;
    margin-right:  10px;
}
.user-details h4 {
    color: #001529;
}
.user-details .caret-down svg{
    color: #001529;
    vertical-align: text-bottom;
}
.user-details .ant-avatar {
    background: #ccc;
    color: #001529;
    width: 36px;
    height: 36px;
}   
.user-details .ant-badge-count {
    font-size: 11px;
    height: 16px;
    min-width: 16px;
    line-height: 16px;
    background: #fc6a42;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #fc6a42;
    color: #fff;
}