.user-details {
    display: flex;
    align-items: baseline;
    width: 100px;
    color: #001529;
}
.user-details h4 {
    color: #001529;
}
.user-details .caret-down svg{
    color: #001529;
    vertical-align: text-bottom;
}
.user-details .ant-avatar {
    background: #001529;
}   