.dashboard {
    height: 100vh;
}
.dashboard .ant-layout-sider .logo {
    display: flex;
    padding: 10px 10% 25px 10%;
    flex: auto;
    align-items: center;
    flex-flow: row;
}

.dashboard .ant-layout-sider .logo img.logo-iso{
    height: 44px;
}
.dashboard .ant-layout-sider .logo img.logo-text{
    height: 36px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
.ant-layout-sider-zero-width-trigger,
.ant-layout-sider-zero-width-trigger:hover {
    background: #fc6a42;
}

.ant-layout-sider-zero-width-trigger {
    top: 11px;
}

.dashboard .header {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #001529;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(297,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23648cff'/%3E%3Cstop offset='1' stop-color='%23fc6a42'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='10' height='10' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23001529' cx='5' cy='5' r='5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.15'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 
