.dashboard {
    height: 100vh;
}
.dashboard .ant-layout-sider .logo {
    display: flex;
    padding: 17px 10% 25px 8px;
    flex: auto;
    align-items: center;
    flex-flow: row;
}

.dashboard .ant-layout-sider .logo img.logo-text{
    height: 36px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
.ant-layout-sider-zero-width-trigger,
.ant-layout-sider-zero-width-trigger:hover {
    background: #fc6a42;
}
.ant-layout-sider-zero-width-trigger {
    top: 11px;
}

.dashboard .header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+67,fc6a42+85,648cff+96 */
background: #cccccc; /* Old browsers */
background: -moz-linear-gradient(45deg, #cccccc 67%, #fc6a42 85%, #648cff 96%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #cccccc 67%,#fc6a42 85%,#648cff 96%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #cccccc 67%,#fc6a42 85%,#648cff 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#648cff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.dashboard .header .logo {
    display: block;
}
.dashboard .header .logo.hidden {
    display: none;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .dashboard .header .logo {
        display: none;
    }
    .dashboard .header {
        justify-content: flex-end;
    }
} 
