.dashboard {
    height: 100vh;
}
.dashboard .ant-layout-sider .logo {
    display: flex;
    padding: 17px 10% 25px 10%;
    flex: auto;
    align-items: center;
    flex-flow: row;
}
.dashboard .ant-layout-sider .logo .logo-iso {
    width: 36px;
    height: 36px;
    fill: #fff;
    margin-right: 10px;
}
.dashboard .ant-layout-sider .logo img.logo-text{
    height: 36px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
.ant-layout-sider-zero-width-trigger,
.ant-layout-sider-zero-width-trigger:hover {
    background: #fc6a42;
}

.ant-layout-sider-zero-width-trigger {
    top: 11px;
}

.dashboard .header {
    padding: 0 1em 0 3em;
    display: flex;
    justify-content: space-between;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+57,648cff+82 */
background: #648cff; /* Old browsers */
}
.dashboard .header .logo {
    display: block;
    visibility: visible;
}
.dashboard .header .logo.hidden {
    visibility: hidden;
}
.dashboard .header .logo .logo-iso {
    width: 36px;
    height: 36px;
    margin-left: 8px;
    color: #001529;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .dashboard .header .logo {
        visibility: hidden;
    }
    .dashboard .header {
        justify-content: flex-end;
    }
} 
